/*** BOXES ***/
.box{
	padding: var(--sp-l) var(--sp-m);
}

/*** TEXT ***/
.text {}
.text.__title {
	font-family: var(--f-cursive);
	font-size: var(--f-s-xxl);
	font-weight: var(--f-w-bold);
	margin: var(--sp-xl) 0 var(--sp-l);
}
.text.__section {
	font-family: var(--f-cursive);
	font-size: var(--f-s-xl);
	font-weight: var(--f-w-medium);
	margin: var(--sp-l) 0 var(--sp-m);
}
.text.__subsection {
	font-family: var(--f-cursive);
	font-size: var(--f-s-l);
	font-weight: var(--f-w-medium);
	margin: var(--sp-l) 0 var(--sp-m);
}
.text.__subtitle {
	font-family: var(--f-sans);
	font-size: var(--f-s-l);
	font-weight: var(--f-w-medium);
	margin: var(--sp-l) 0 var(--sp-m);
}
.text.__title + .text.__subtitle:not(.--no-margin) {
	margin-top: calc(-1 * var(--sp-m));
}
.text.text.--no-margin {
	margin: 0;
}

/*** lists ***/
.definition-list.__wrapper {
	display: flex;
	flex-flow: row wrap;
	border: var(--b-standard-basic);
	--definition-list-key-width: 25%;
	--definition-list-value-width: 75%
}
.definition-list.__key {
	display: flex;
	align-items: center;
	justify-content: right;
	flex-basis: var(--definition-list-key-width);
	padding: var(--sp-xs) var(--sp-s);
	background: var(--c-background-inverted);
	color: var(--c-text-inverted);
}
.definition-list.__value {
	display: flex;
	align-items: center;
	flex-basis: var(--definition-list-value-width);
	flex-grow: 1;
	margin: 0;
	padding: var(--sp-xs) var(--sp-s);
	border-bottom: var(--b-standard-basic);
}
.definition-list.__value:last-of-type {
	border-bottom: 0;
}

/*** utilities ***/
.separator {
	border-top: var(--b-standard-basic);
	border-width: var(--b-width-regular) 0 0 0;
	margin: var(--sp-l) auto var(--sp-l);
	width: 80%;
	text-align: center
}
