---
import BaseLayout from '../layouts/base-layout.astro'
import ProfilePicture from '../components/profile-picture.vue';
import { Hexagon, HexagonRow, HexagonWrapper } from '../components/hexagon/index.js';
import GitHubIcon from '../components/social-icon/github.vue';
import HackerRankIcon from '../components/social-icon/hackerrank.vue';
import LinkedInIcon from '../components/social-icon/linkedin.vue';
import MailIcon from '../components/social-icon/mail.vue';
import TwitterIcon from '../components/social-icon/twitter.vue';
---

<style>
.home.__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - var(--header-height));
}
.section {
	margin-bottom: var(--sp-m);
}
.section.__name {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.profile.__sentence {
	font-size: var(--f-s-xxl);
	font-weight: var(--f-w-bold);
}
.profile.__sentence.--large { font-size: calc(1.5 * var(--f-s-xxl)); }
.profile.__sentence.--first { color: var(--c-text-light); }
.profile.__sentence.--second { color: var(--c-text-dark); }
.social-icon {
	display: block;
	width: 100%;
	height: 100%;
	padding: var(--sp-xs);
	stroke: var(--c-text-light);
	fill: var(--c-text-light);
}
</style>

<BaseLayout title="Homepage">
	<main class="home __content">
		<ProfilePicture />
		<div class="section __name">
			<h1 class="text __code profile __sentence">
				<span class="profile __sentence --first --large">marcos</span>
				<span class="profile __sentence --second --large">loureiro</span>
			</h1>
			<h2 class="text __code profile __sentence">
				<span class="profile __sentence --first">software</span>
				<span class="profile __sentence --second">engineer</span>
			</h2>
		</div>
		<HexagonWrapper class="section">
			<HexagonRow>
					<Hexagon style="--color: #9a78b1">
						<a href="https://www.linkedin.com/in/mloureiro/" target="_blank" class="social-icon">
							<LinkedInIcon class="social-icon" />
						</a>
					</Hexagon>
					<Hexagon style="--color: #dddddd">
						<a href="https://github.com/mloureiro/" target="_blank" class="social-icon">
							<GitHubIcon class="social-icon" />
						</a>
					</Hexagon>
					<Hexagon style="--color: #2ec262">
						<a href="https://www.hackerrank.com/mloureiro/" target="_blank" class="social-icon">
							<HackerRankIcon class="social-icon" />
						</a>
					</Hexagon>
				</HexagonRow>
				<HexagonRow>
					<Hexagon style="--color: #ea3854">
						<a href="mailto:mloureiro.dev@gmail.com" target="_blank" class="social-icon">
							<MailIcon class="social-icon" />
						</a>
					</Hexagon>
					<Hexagon style="--color: #1d9bf0">
						<a href="https://twitter.com/mloureiro_dev/" target="_blank" class="social-icon">
							<TwitterIcon class="social-icon" />
						</a>
					</Hexagon>
				</HexagonRow>
			</HexagonWrapper>
	</main>
</BaseLayout>
