---
import Theme from '../components/theme.vue';

const { title } = Astro.props;
---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />

	<title>{title} • Marcos</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<link href="/style/reset.css" rel="stylesheet">
</head>
<body>
	<Theme client:load>
		<slot />
	</Theme>
</body>
</html>
