---
import Theme from '../components/theme.vue';

const { content } = Astro.props;
---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />

	<title>{content.title} • Marcos</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<link href="/style/reset.css" rel="stylesheet">
	<link href="/style/markdown.css" rel="stylesheet">
</head>
<body>
<Theme client:load>
	<style>
		.app-content {
			padding: var(--sp-m);
			max-width: 50rem;
			margin: 0 auto;
		}
	</style>
	<div class="app-content">
		<slot />
	</div>
</Theme>
</body>
</html>
